<div class="container">
    <h1 class="text-center my-5 ">
        Mostrar un personaje por ID
    </h1>
    <div class="container">
        <form class="text-center">
            <div class="mb-3">
                <label for="id" class="form-label">Ingrese el Id del personaje que quieres
                    consultar</label>
                <input type="email" class="form-control text-center" id="id" [(ngModel)]="id" name="id">
            </div>
            <button type="submit" class="btn btn-primary form-control" (click)="getMostrar(id)">Submit</button>
        </form>
    </div>

    <div class="container">
        <div *ngIf="item">
            <div class="container">
                <div>
                    <div class="row ">
                        <div class="col-4"></div>
                        <div class="col-4 mt-4 mr-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" [src]="item.image" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{item.name}}</h4>
                                    <p class="card-text">Especie: {{item.species}}</p>
                                    <p class="card-text">Identificación: {{item.id}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>